body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f7ff;
  overflow-x: hidden;
}

.navbar {
  background-color: #0e2a47;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: gray;
  color: #fff;
  text-align: center;
  line-height: 60px;
}

.banner {
  background-image: url(/assets/bg.svg);
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.contact-btn {
  color: white;
  padding: 8px 8px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
}

#text-container {
  text-align: center;
}

#text-container h1 {
  font-size: 48px;
  font-weight: bold;
  color: whitesmoke;
  opacity: 0;
}

.slogan {
  color: white;
}

.contact-btn:hover {
  background-color: white;
  color: black;
}

.text-div {
  padding: 20px;
  border-radius: 5px;
}

h1 {
  font-size: large;
  color: #0e2a47;
  margin-bottom: 10px;
  font-weight: bold;
}

h2 {
  text-decoration: 2px solid;
}

.text-div p {
  font-size: small;
  color: #0e2a47;
  margin-bottom: 20px;
  letter-spacing: 0.5;
  line-height: 3ch;
  font-weight: 600;
  text-align: justify;
}

.text-div a:hover {
  background-color: #666;
}

.card {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.card-header {
  background-color: #0e2a47;
  border-radius: 5px 5px 0 0;
  color: white;
  padding: 20px;
  text-align: center;
}

.card-body {
  padding: 30px;
  text-align: center;
  background-color: white;
}

h1 {
  font-size: 36px;
  color: #0e2a47;
  margin-bottom: 10px;
}

span {
  font-size: 18px;
  color: #0e2a47;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

li {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #0e2a47;
  border-color: #333;
  font-size: medium;
}

.btn-primary:hover {
  background-color: white;
  border-color: black;
  color: #0e2a47;
}

form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

h2 {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 0;
}

.btn-primary {
  border-radius: 0;
}

@media (max-width: 768px) {
  form {
    padding: 20px;
  }

  h2 {
    font-size: 36px;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.animated-line {
  position: relative;
  display: inline-block;
}

.animated-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.animated-line:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #0e2a47;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scroll-to-top-btn:hover {
  background-color: #333;
}

#3d-text {
  font-size: 72px;
  position: relative;
  perspective: 1000px;
}

#3d-text::before,
#3d-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  transition: transform 0.3s ease-out;
}

#3d-text::before {
  transform: translateZ(-50px);
  text-shadow: 0 0 10px white;
}

#3d-text::after {
  transform: translateZ(50px);
  text-shadow: 0 0 10px black;
}

.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial {
  flex-basis: 300px;
  margin: 20px;
  text-align: center;
}

.testimonial-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial-text {
  font-size: small;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: justify;
}

.testimonial-name {
  font-weight: bold;
}
